 @charset "UTF-8";

 :root{
    --cor0:#00ffff;
    --cor01:#ffffff;
    --cor02:#000000;
    --cor03:rgba(0, 0, 255, 0.521);
 }

 /*config*/
*{
    margin: 0px;
    padding: 0px;
    font: 1em;
}

/*PADRAO*/
html, body{
    height: 100vh;
    overflow-x: hidden;
    background-color:var(--cor02);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor0);
}

/*CABEÇALHO*/

header{
    display: flex;
    justify-content: flex-end;
    margin: 10px 0px;
}


/*BARRA DE NAVEGAÇÃO */ 
nav{
    padding: 5px;
    margin: 10px 0px;
}

nav>a{
    text-decoration:none;
    margin:30px;
    color:var(--cor0);
}

nav>a:hover{
    background-color:var(--cor01);
    color: var(--cor02);
    padding: 5px;
    border-radius: 4px;
    transition-duration: 0.5s;
    text-decoration: underline;
}

hr {
    border: 1px solid var(--cor0); 
    box-shadow: -1px 3px 20px 4px;
    margin: 26px 0px; 
}

/*CONTEUDO PRINCIPAL*/
main{
    height: 90vh;
}

section>h1{
    margin-bottom: 30px;
}

main>section{
    text-align: justify;
    padding:20px;
    margin-bottom:10px;
    border-radius: 10px;
    color: var(--cor0);

}

footer{
    padding: 10px;
    text-align: center;
    background-color: var(--cor02);
}

